#container{
    display:grid;
    place-items: center;
    grid-template-columns: 4fr 1fr;

}


body {
    text-align: center;
    align-items: top;
    display:grid;
    grid-template-columns: 4fr 1fr;
    background: #f2f6f8;
}

#drawings{
    position:relative;
    z-index:20;
}
