<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../static/script.js" defer></script>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="container">
        <img id="target-img" src="../static/img1.png">
        <canvas id="drawings"></canvas> 
        <button id="draw" style="width:80px; height:20px;">Draw</button>
        <button id="scrap" style="width:80px; height:20px;">Scrap</button>
    </div>


    <p id="text" style="width:400px;"></p>


    
</body>

</html>