<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../static/script.js" defer></script>
    <script src="https://cdn.rawgit.com/magicien/undo-canvas/v0.1.3/undo-canvas.js"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="container">
        <div id="canvas-holder">
            <canvas id="drawings"></canvas>
        </div>
        <button id="draw" style="width:80px; height:20px;">Draw</button>
        <button id="undo" style="width:80px; height:20px;">Undo</button>
        <button id="redo" style="width:80px; height:20px;">Redo</button>
        <button id="scrap" style="width:80px; height:20px;">Scrap</button>
    </div>
    <p id="text" style="width:400px;"></p>


    
</body>

</html>